.button:hover{
    -fx-background-color: black;
    -fx-text-fill: white;
}

/*#image {
    filter: grayscale(100%);
}

.button-hover .image {
    -fx-image: invert(100%);
} */

.button2{
    -fx-background-color: #21232F;
}
.button2:hover{
    -fx-background-color: white;
    -fx-text-fill: black;
}

.seat-button {
    -fx-graphic: url("/seat.png");
}

.seat-button:hover {
    -fx-graphic: url("/seat1inverted.png");
    -fx-background-color: black;
    -fx-text-fill: white;
}

.background{
    -fx-background-color: #21232F;
}

.text-field:focused {
    -fx-prompt-text-fill: derive(-fx-control-inner-background,-30%);
}